@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-primary-500: #be3737;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--estedad-font);
  min-height: 100vh;
  user-select: none;
  font-size: 16px;
  line-height: 24px;
}

@layer components {
  .icon {
    @apply w-5 h-5;
  }
  .modal {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 min-w-[500px] max-w-lg bg-white p-4 border border-light-primary-600/70 rounded outline-none;
  }
  .modalTextField {
    @apply rounded w-full py-2 px-2 pl-10 border border-light-primary-600/60 focus:border-red-500 transition focus:outline-none placeholder:text-right;
  }
  .redButton {
    @apply flex items-center gap-x-1 py-2 px-4 bg-red-800 hover:bg-red-700 text-white rounded mx-2;
  }
}

.inputOtpField input[type="text"] {
  padding: 15px 0px !important;
  width: 3.5rem !important;
}
