@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --red-primary-500: #be3737;
}

body {
  padding: 0;
  margin: 0;
  font-family: var(--estedad-font);
  min-height: 100vh;
  user-select: none;
  font-size: 16px;
  line-height: 24px;
}

@layer components {
  .icon {
    @apply w-5 h-5;
  }
  .modal {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 min-w-[500px] max-w-lg bg-white p-4 border border-light-primary-600/70 rounded outline-none;
  }
  .modalTextField {
    @apply rounded w-full py-2 px-2 pl-10 border border-light-primary-600/60 focus:border-red-500 transition focus:outline-none placeholder:text-right;
  }
  .redButton {
    @apply flex items-center gap-x-1 py-2 px-4 bg-red-800 hover:bg-red-700 text-white rounded mx-2;
  }
  .grayButtonRounded {
    @apply flex items-center gap-x-1 py-2 px-4 border transition border-light-primary-600 hover:bg-gray-100 text-light-primary-600 rounded mx-2;
  }
}

.inputOtpField input[type="text"] {
  padding: 15px 0px !important;
  width: 3.5rem !important;
}

.swiper-button-prev {
  background-color: #fff;
  padding: 12px;
  border-radius: 50%;
  --swiper-navigation-size: 10px;
  --swiper-navigation-color: #8f8f8f;
  border: 1px solid #eeeeee;
}

.swiper-button-next {
  background-color: #fff;
  padding: 12px;
  border-radius: 50%;
  --swiper-navigation-size: 10px;
  --swiper-navigation-color: #8f8f8f;
  border: 1px solid #eeeeee;
}

[dir="rtl"] select {
  background-position: left 0.5rem center;
  padding-left: 2.5rem;
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c0c0c0;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #c0c0c0;
}
